.bundle
db/*.sqlite3
log
tmp/**/*
Gemfile.lock
.rspec
.watchr
.idea
*.rdb
vendor/plugins/fish
vendor/gems
public/system
public/version_files
nbproject
db/view.html

config/database.yml
config/mail.yml
config/nginx.yml
coverage/**/*
coverage
coverage/
.loadpath
.project
.settings/
test/*.d/*
dump.rdb
.DS_Store
log/sphinx/*
search_data
vendor/cache/
config/sphinx.yml
.code_swarm
public/assets/
nohup.out
*~
*.swp

