<%= yield :before_footer %>
<!-- Footer
================================================== -->
<footer class="footer">
Powered By: <a href="https://github.com/pobing/tooco" target="_blank">tooco</a>
作者: <a href="#" target="_blank">tooco ren</a>
&copy; <a href="http://tooco.com" target="_blank">tooco</a>
  <%= yield :footer %>
</footer>
<%= yield :after_footer %>

